﻿@{
    ViewData["Title"] = "Data Vault Model";
}


    <style>
        .bg {
            /* The image used */
            /* Full height */
            height: 100%;
            width: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>


<h1>@ViewData["Title"]</h1>

<p>Use this page to check data vault model of data warehouse used in this application.</p>
<div class="bg"><img src="~/DataVaultModel.JPEG" /></div>


