﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 mb-5">Welcome</h1>
</div>

<div class="row">
    <div class="text-center col-md-4">
        <h3 class="display-4">Books</h3>
        <p>Learn about all <a asp-controller="Books" asp-action="Index">books</a> in our Bookstores    .</p>
    </div>

    <div class="text-center col-md-4">
        <h3 class="display-4">Bookstores</h3>
        <p>Explore our <a asp-controller="Bookstores" asp-action="Index">bookstores</a>.</p>
    </div>

    <div class="text-center col-md-4">
        <h3 class="display-4">Customers</h3>
        <p>Check our <a asp-controller="Customers" asp-action="Index">customers's</a> data.</p>
    </div>

</div>

