﻿@model DataVaultProject.Models.Import
@{
    ViewData["Title"] = "Import";
}

<h1>Book Import</h1>
<h4>Import books to specific bookstore</h4>
<form asp-action="Import">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" readonly="@(true)" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Isbn13" class="control-label"></label>
        <input asp-for="Isbn13" class="form-control" readonly="@(true)" />
        <span asp-validation-for="Isbn13" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Count" class="control-label"></label>
        <input asp-for="Count" class="form-control" />
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Lend" /> @Html.DisplayNameFor(model => model.Lend)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Sell" /> @Html.DisplayNameFor(model => model.Sell)
        </label>
    </div>

    <div class="form-group">
        <div>Select bookstore</div>
        <select asp-for="BookstoreId" id="bookstores" class="form-control"></select>
        <span asp-validation-for="BookstoreId" class="text-danger"></span>
    </div>

    @*<select class="form-control" name="bookstoreId">
            @foreach (var bookstore in ViewBag.bookstores)
            {
                <option value="@bookstore.Key">@bookstore.Value</option>
            }
        </select>*@

    @*<div class="form-group">
            <label asp-for="Count" class="control-label"></label>
            <input asp-for="Count" class="form-control" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>*@
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>


@section scripts{
    <script type="text/javascript">
    $(function()
    {
        $.ajax(
            {
                type: "GET",
                url: '/api/bookstore',
                dataType: 'text',
                contentType: 'text',
                data: {},
                success: function (bookstore) {
                    var obj = JSON.parse(bookstore);
                    for (var key in obj) {
                        $('#bookstores').append('<option value=' + key + '>' + obj[key] + '</option>');
                    }
                },
                  failure: function (jqXHR, textStatus, errorThrown) {                  
                      console.log('Failed to retrive bookstores.'); 
                                } 
            });
    });
    </script>
}