﻿@model IEnumerable<DataVaultProject.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
     <a class="col-2" asp-action="Create">Create New</a>
    <a class="col-2" asp-action="Search">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)   
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Title)         
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.Isbn13">Edit</a>
              <a asp-action="Details" asp-route-id="@item.Isbn13">Details</a>
              <a asp-action="Import" asp-route-id="@item.Isbn13">Import</a>
              <a asp-action="Order" asp-route-id="@item.Isbn13">Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
