﻿@model DataVaultProject.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Book Order</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn13" class="control-label"></label>
                <input asp-for="Isbn13" class="form-control" readonly="@(true)" />
                <span asp-validation-for="Isbn13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" readonly="@(true)" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>Select bookstore</div>
                <select asp-for="BookstoreId" id="bookstores" class="form-control"></select>
                <span asp-validation-for="BookstoreId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (ViewBag.OrderStatus == 1)
{
    <div>
        <p>Book is ordered successfully!</p>
    </div>
}
@if (ViewBag.OrderStatus == 2)
{
    <div>
        <p>Book is NOT available for ordering at the moment!</p>
    </div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>



@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajax(
                {
                    type: "GET",
                    url: '/api/bookstore',
                    dataType: 'text',
                    contentType: 'text',
                    data: {},
                    success: function (bookstore) {
                        var obj = JSON.parse(bookstore);
                        for (var key in obj) {
                            $('#bookstores').append('<option value=' + key + '>' + obj[key] + '</option>');
                        }
                    },
                    failure: function (jqXHR, textStatus, errorThrown) {
                        console.log('Failed to retrive bookstores.');
                    }
                });
        });
    </script>
}