﻿@model DataVaultProject.Models.Import

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Import</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookstoreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookstoreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ImportId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
