﻿@model DataVaultProject.Models.Import

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Import</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookstoreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookstoreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sell)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ImportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
