﻿@model IEnumerable<DataVaultProject.Models.Import>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookstoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sell)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookstoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sell)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
